* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}
#welcomeMessage {
    font-size: 4rem;
}
#startBtn {
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    height: 20%;
    width: 15%;
    transition: all 0.1s;
    border-bottom: 5px solid rgb(113, 112, 112);
}
#startBtn:hover {
    background-color: lightgrey;
    cursor:url(/img/baseball.cur), auto;
}
#startBtn:active {
    transform : translateY(3px);
    border-bottom: 2px solid rgb(113, 112, 112);
}
.hidden {
    /* display: none; */
    display: none;
}
