@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SeoulNamsanM'
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcomeContainer {
}

#welcomeMessage {
    font-size: 4rem;
    font-family: 'Baloo 2';
}
#startBtn {
    background-color: white;
    border: 1px solid;
    border-radius: 10%;
    height: 75px;
    width: 100px;
    transition: all 0.1s;
    border-bottom: 5px solid rgb(113, 112, 112);
}
#startBtn:hover {
    background-color: lightgrey;
    cursor:url(/img/baseball.cur), auto;
}
#startBtn:active {
    transform : translateY(3px);
    border-bottom: 3px solid rgb(113, 112, 112);
}
#answerInputContainer {

}
.hidden {
    display: none;
}
